<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="cover">
      <div class="clock"></div>
      <div class='hours'></div>
      <div class='seconds'></div>
      <div class='minutes'></div>
      <div class="site-name">
        <div class="site-name__inner">
          <div class="name">{{ site.title }}</div>
          <div class="desc">{{site.description}}</div>
          <div class="btn">Blog</div>
        </div>
      </div>
    </div>

    <div class="page-content">
        {{ content }}
    </div>

</html>
